html body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.wrapper-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  height: 100%;
  width: 100%;
}
/* ----- HEADER ----- */
#header-content{
  grid-area: header;
  display: flex;
  
  background-color: #f2f2f2;
  color: #fff;
  padding: 1rem;
}
#left-header-contenair{
  display: flex;
  /*width: 30%;*/
  flex-shrink: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#right-header-contenair{
  display: flex;
  /*width: 70%;*/
  flex-grow: 1;
  justify-content: flex-end;
  /*align-items:flex-end;*/
  
}
#button-menu{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  margin: 0.6rem;
}
#button-menu span{
  display: block;
  width: 1.5rem;
  height: 0.3rem;
  background-color: #262526;
  margin: 0.3rem;
  color: #f2f2f2;
}
#button-menu:hover span{
  background-color: #d92332;
}
#button-menu:hover #submenu-main{
  display: flex;
}
#logo{
  display: flex;
  max-width: 22rem;
  max-height: 10rem;
  padding-left: 3rem;
}
#logo a{
  display: flex;
  max-width: 100%;
  max-height: auto;
}
#enterprise{
  display: flex;
  flex-direction: column;
}
/*#sous-title{
  font-size: 0.8rem;
  font-weight: 300;
}*/


#navbar-menu{
  display: none;
  min-width: 70%;
  justify-content: space-around;
  list-style-type: none;
  background-color: #f2f2f2;
  padding: 0;
  
}
#navbar-menu li{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  
}
#navbar-menu li a{
  color: #d92332;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
#navbar-menu li a:hover{
  color: #262526;
  font-weight: bold;
}
#navbar-menu li:hover #submenu-service{
  display: flex;
}

#identification li{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;

}
#identification li a{
  color: #d92332;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 3rem;
}
#identification li a:hover{
  color: #262526;
  font-weight: bold;
  text-decoration: none;
}
#market li{
  /* element caché par défaut */
  display: none;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  color: #d92332
}
#market a{
  color: #d92332;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}
#market a:hover{
  color: #d92332;
  font-weight: bold;
  font-size: 1.4rem;
}

/* ----- HEADER SOUS MENU -----  */
/* ----- sous menu main -----*/
#submenu-main{
  display: none;
  position: absolute;
  top: 110px;
  left: 1px;
  box-shadow: 2px 4px 10px #262526;
  color: #262526;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 1rem;
}
#submenu-main .submenu-main-list{
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  list-style-type: none;
}

#submenu-main .submenu-main-list a{
  display: flex;
  position: relative;
  min-width: 100%;
  color: #262526;
  background-color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: none;
}
#submenu-main .submenu-main-list a:hover{
  min-width: 100%;
  background-color: #262526;
  color: #f2f2f2;
  font-weight: normal;
}
#submenu-main .submenu-main-list:hover #submenu-main-list-service{
  display: flex;
}
/* ----- END sous menu main -----  */
/* ----- sous menu service du sous menu main -----  */
#submenu-main-list-service{
  display: none;
  position: absolute;
  top: 0px;
  left: 270px;
  box-shadow: 2px 4px 10px #262526;
  width: 100%;
  color: #262526;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem;
}
#submenu-main-list-service li{
  display: flex;
  width: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  list-style-type: none;
}
#submenu-main-list-service li a{
  display: flex;
  position: relative;
  min-width: 100%;
  color: #d92332;
  font-weight: normal;
  text-decoration: none;
}


/* ----- SOUS MENU SERVICE NAVBAR -----  */
#submenu-service{
  display: none;
  position: absolute;
  top: 163px;
  box-shadow: 2px 4px 10px #262526;
  color: #262526;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0 1rem 0;
  padding: 1rem;
  
}
#submenu-service .submenu-list{
  display: flex;
  width:100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  list-style-type: none;
  
  
}
#submenu-service .submenu-list a{
  display: flex;
  position: relative;
  min-width: 100%;
  color: #262526;
  background-color: #f2f2f2;
  font-weight: normal;
  font-size: 1.5rem;
  
  
  /*list-style-type: none;*/
}
#submenu-service .submenu-list a:hover{
  display: flex;
  background-color: #262526;
  color: #f2f2f2;
  font-weight: normal;
  
}
/* ----- END sous menu service -----  */

/* ----- MAIN ----- */
#main-content{
  grid-area: main;
  display: flex;
  background-color: #fff;
  color: #1a1a1a;
  padding: 1rem;
}
/* ----- FOOTER ----- */
#footer-content{
  grid-area: footer;
  display: flex;
  background-color: #1a1a1a;
  color: #fff;
  padding: 1rem;
}






/* ----- MEDIA QUERIES ----- */
@media screen and (min-width: 1024px) {
  #navbar-menu{
    display: flex;
  }
  #right-header-contenair{
    align-items: flex-end;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #navbar-menu{
    display: none;
  }
  #button-menu{
    display: flex;
  }
  #logo{
    padding-left: 0rem;
  }
  #right-header-contenair{
    align-items: center;
  }
}
@media screen and (min-width: 260px) and (max-width: 767px) {
  #navbar-menu{
    display: none;
  }
  #button-menu{
    display: flex;
  }
  #logo{
    padding-left: 0rem;
  }
  #right-header-contenair{
    align-items: center;
  }
  #logo{
    
    max-width: 11rem;
    max-height: 5rem;
    
  }
  #identification li a{
    padding-right: 1rem;
  }

}



